<div class="row mb-2 myhead head__mobile" data-turbolinks-permanent>
  <div class="col-sm-6">
    <div class="row mb-2">
      <div class="col-sm-3">
        <img src="{{ "/assets/images/my.webp" | relative_url }}"
        class="head-icon" alt="Rahmat Agung Julians" width="100px"
        height="100px" data-turbolinks-permanent/>
      </div>
      <div class="col-sm-9 text__identitas">
        <header data-turbolinks-permanent>
          <h1 class="centered">
            <a href="/" class="title-head">Rahmat Agung Julians</a>
          </h1>
          <p class="description_me">
            Technology Enthusiast | Philosophy | Logic
          </p>
          <br />
        </header>
      </div>
    </div>
  </div>
  <div class="col-sm-4 text-muted small headright ads__head"></div>
</div>
<div class="row mb-2 myhead toolbar" data-turbolinks-permanent>
  <div class="col-sm-12">
    <a href="/feed.xml" class="rss">RSS</a>
    <a href="/projek">Projek</a>
    <a href="/tentang">Tentang</a>
    <a class="search__button" href="/pencarian">Cari</a>
  </div>
  <div class="col-sm-0 text-muted small righted"></div>
</div>
