<div class="row mb-2 myhead" data-turbolinks-permanent>
  <div class="col-sm-6">
    <div class="row mb-2">
      <div class="col-sm-3">
        <img src="{{ "/assets/images/my.webp" | relative_url }}"
        class="head-icon" alt="Rahmat Agung Julians" width="100%" height="100%"
        data-turbolinks-permanent/>
      </div>
      <div class="col-sm-8 text__identitas">
        <header data-turbolinks-permanent>
          <h1><a href="/" class="title-head">Rahmat Agung Julians</a></h1>
          <p class="description_me">
            Technology Enthusiast | Philosophy | Logic
          </p>
          <br />
        </header>
      </div>
    </div>
  </div>
  <div class="col-sm-4 text-muted small headright ads__head"></div>
</div>
<div class="row mb-2 myhead toolbar" data-turbolinks-permanent>
  <div class="col-sm-9">
    <a href="/feed.xml">RSS</a>
    <a href="/projek">Projek</a>
    <a href="/tentang">Tentang</a>
    <a class="search__button" href="/pencarian">Cari</a>
  </div>
  <div class="col-sm-3 text-muted small greetings">Selamat Malam</div>
</div>
