<div class="row main__head head__mobile" data-turbolinks-permanent>
  <div class="col__sm__6">
    <div class="row">
      <div class="col__sm__3">
        <img src="{{ "/assets/images/my.webp" | relative_url }}"
        class="head__icon" alt="Rahmat Agung Julians" width="100px"
        height="100px" data-turbolinks-permanent/>
      </div>
      <div class="col__sm__9 text__identitas">
        <header data-turbolinks-permanent>
          <h2 class="centered">
            <a href="/" class="title-head">Rahmat Agung Julians</a>
          </h2>
          <p class="description_me">
            Technology Enthusiast | Philosophy | Logic
          </p>
          <br />
        </header>
      </div>
    </div>
  </div>
  <div class="col__sm__4 text__muted small headright ads__head"></div>
</div>
<div class="row main__head toolbar sticky__top" data-turbolinks-permanent>
  <div class="col__sm__3">
    {% if page.url == "/blog" or page.url == "/projek"%}
    <a href="/""><button class="btn__bg__accent bold">BERANDA</button></a>
    {% else %}
    <a href="/blog"><button class="btn__bg__accent bold">KEMBALI</button></a>
    {% endif %}
  </div>
  <div class="col__sm__9 text__muted small font__1em text__right main__head">
    {% if page.url == "/projek" %}
    <a
      href="https://github.com/rahmatagungj"
      rel="noopener noreferer"
      target="_blank"
      ><button>GITHUB</button></a
    >
    {% else %}
    <a href="/pencarian"><button class="bold">Cari</button></a>
    <a href="/feed.xml"><button class="bold">RSS</button></a>
    {% endif %}
  </div>
</div>
