// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

html, body { background: ghostwhite; }

html { height: 100%; }

// body {
//   color: #2c3e50;
//   // font-family: monospace;
//   font-family: 'Open Sans', sans-serif;
//   font-size: 1.5rem;
//   line-height: 1.3;
//   margin: 0;
//   min-height: 100%;
// }

article {
  background: #f3eee4;
  border-bottom: 3px dashed #ac1249;
  border-top-width: 0px;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  font-family: atkinson_hyperlegible,Georgia,Times,serif;
  font-size: 1.5rem;
  color: #1c2334;
}

div#search-container {
  background: #f3eee4;
  border-bottom: 3px dashed #ac1249;
  border-top-width: 0px;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  font-family: atkinson_hyperlegible,Georgia,Times,serif;
  font-size: 1.5rem;
  color: #1c2334;
}

.title {
  color: #bb1450;
  font-size: 2em;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; text-transform: capitalize;}

hr {
  color: rgb(229, 191, 85);
  background-color: rgb(229, 191, 85);
  height: 2px;
}


p {
  margin: 1rem 0;
  font-size: 1.2em;
}

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  // width: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}


.h1, h1 {
  font-size: 26px;
}

a.post-list {
  text-transform: capitalize;
  font-size: 1.4em;
}

pre.highlight {
  font-weight: 500;
}

h3.searched {
  font-size: 19px;
  color: #1d3557;
}

p.post-meta {
  text-align: center;
  font-size: 1.3em;
}

hr.lined {
  background: rgb(229, 191, 85);
  height: 1px;
}

img.head-icon {
  max-width: 100px;
  max-width: 100px;
  border-radius: 100%;
}

// BAGIAN .highlight


.blacked {
  color: black;
}

.toolbar {
  background-color: #e5bf55;
  border-radius: 8px;
  padding: 13px;
  padding-top: 14px;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
}



.headright {
  text-align: right;
  font-size: 1em;
}

@media all and (max-width: 784px) {
  .headright {
    text-align: center;
    font-size: 1em;
    padding-top: 2px;
  }
  .myhead {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
  .toolbar {

  }
}

.add-button {
  position:fixed;
	width:40px;
  opacity: 100%;
	height:40px;
	bottom:30px;
	right:30px;
  background-image: url(/assets/images/install.svg);
  background-size: 100%;
	background-color:#bb1450;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  border: 1px solid #bb1450;
  font-size: 23px;
}

.add-button:hover {
  background-image: url(/assets/images/install.svg);
  background-size: 100%;
  color: #bb1450;
  border: 3px solid #bb1450;
  font-size: 25px;
  text-align: center;
  transform:scale(1.2,1.2);
  -webkit-transform:scale(1.2,1.2);
  -moz-transform:scale(1.2,1.2);
}

input#search-box {
  background-color: rgba(255,255,255,0.5);
  color: #000000;
  height: 2.15384615em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  padding: 5px 2.15384615em 5px 0.4em;
  -webkit-box-shadow: inset 0 0 0 1px transparent;
  box-shadow: inset 0 0 0 1px transparent;
  font-family: atkinson_hyperlegible;
  font-size: 0.8125em;
  direction: ltr;
  -webkit-transition: border-color 250ms,box-shadow 250ms;
  -moz-transition: border-color 250ms,box-shadow 250ms;
  transition: border-color 250ms,box-shadow 250ms;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.searchLabel {
  font-size: 0px;
}

.searchButton {
  background: no-repeat center / 1.23076923em url(/assets/images/search.svg);
  opacity: 0.67;
  background-color: transparent;
  color: transparent;
  height: 2.15384615em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  padding: 4px 2.15384615em 5px 0.4em;
  -webkit-box-shadow: inset 0 0 0 1px transparent;
  box-shadow: inset 0 0 0 1px transparent;
  font-family: atkinson_hyperlegible;
  font-size: 0.8125em;
  direction: ltr;
  -webkit-transition: border-color 250ms,box-shadow 250ms;
  -moz-transition: border-color 250ms,box-shadow 250ms;
  transition: border-color 250ms,box-shadow 250ms;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}


@media all and (max-width: 784px) {
  .add-button {
    bottom:10px;
    right:10px;
  }
}

.referensi {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

blockquote {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  border-left: 5px solid #bb1450;
}

@media all and (max-width: 212px) {
  input#search-box {
    max-width: 100%;
  }
}

.title-head {
  color: #bb1450;
  // font-weight: bold;
  font-size: 1.2em;
}

p.description_me {
  font-size: 1.2em;
}

.ct {
  background: #f3eee4;
  // border: 1px solid #a7d7f9;
  border-top-width: 0px;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  color: #1d3557;
}


/* Highlight CSS - Rouge Highlighter */

pre code {
  font-family: monospace;
  font-weight: 500;
}

.highlighter-rouge {
  border-radius: 0px;
  overflow-x: auto;
  white-space: pre-wrap;
  // box-shadow: 0 0 1rem rgba(0,0,0,28);
  // background: #1c2334;
  color: #f3eee4;
  border-radius: .5rem;
  // padding: 1.6rem 1rem 1.25rem;
  position: relative;
  overflow: hidden;
  background: #1c2334;
  margin-bottom: 5px;
}

.highlight {
  margin: 1px;
  padding: 0px;
  white-space: pre-wrap;
  font-family: monospace;
}

.highlight .rouge-table td {
  padding: 12px;
}

.highlight,
pre.highlight {
  padding: 5px;
  border-radius: 0px;
  color: #f3eee4;
}

.highlight pre {
  margin: 0;
  background: #1c2334;
  color: #f3eee4;
  border-radius: .5rem;
  padding: 1.6rem 1rem 1.25rem;
  position: relative;
  overflow: hidden;
  border: 0px solid transparent;
}

.highlight .c {
  color: #63677e;
  font-style: italic;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #c919fe;
}

.highlight .l {
  color: #51ad4d;
}

.highlight .n {
  color: #f3eee4;
}

.highlight .o {
  color: #f3eee4;
}

.highlight .p {
  color: #f3eee4;
}

.highlight .cm {
  color: #63677e;
  font-style: italic;
}

.highlight .cp {
  color: #63677e;
  font-style: italic;
}

.highlight .c1 {
  color: #63677e;
  font-style: italic;
}

.highlight .cs {
  color: #63677e;
  font-style: italic;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: 700;
}

.highlight .kc {
  color: #c919fe;
}

.highlight .kd {
  color: #c919fe;
}

.highlight .kn {
  color: #c919fe;
}

.highlight .kp {
  color: #c919fe;
}

.highlight .kr {
  color: #c919fe;
}

.highlight .kt {
  color: #c919fe;
}

.highlight .ld {
  color: #51ad4d;
}

.highlight .m {
  color: #e3b700;
}

.highlight .s {
  color: #51ad4d;
}

.highlight .na {
  color: #e3b700;
}

.highlight .nb {
  color: #cc6300;
}

.highlight .nc {
  color: #cc6300;
}

.highlight .no {
  color: #cc6300;
}

.highlight .nd {
  color: #cc6300;
}

.highlight .ni {
  color: #cc6300;
}

.highlight .ne {
  color: #cc6300;
}

.highlight .nf {
  color: black;
}

.highlight .nl {
  color: #cc6300;
}

.highlight .nn {
  color: black;
}

.highlight .nx {
  color: black;
}

.highlight .py {
  color: #cc6300;
}

.highlight .nt {
  color: #f9867b;
}

.highlight .nv {
  color: #cc6300;
}

.highlight .ow {
  font-weight: 700;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight .mf {
  color: #e3b700;
}

.highlight .mh {
  color: #e3b700;
}

.highlight .mi {
  color: #e3b700;
}

.highlight .mo {
  color: #e3b700;
}

.highlight .sb {
  color: #51ad4d;
}

.highlight .sc {
  color: #51ad4d;
}

.highlight .sd {
  color: #51ad4d;
}

.highlight .s2 {
  color: #51ad4d;
}

.highlight .se {
  color: #51ad4d;
}

.highlight .sh {
  color: #51ad4d;
}

.highlight .si {
  color: #51ad4d;
}

.highlight .sx {
  color: #51ad4d;
}

.highlight .sr {
  color: #7be2f9;
}

.highlight .s1 {
  color: #51ad4d;
}

.highlight .ss {
  color: #7be2f9;
}

.highlight .bp {
  color: #cc6300;
}

.highlight .vc {
  color: #cc6300;
}

.highlight .vg {
  color: #cc6300;
}

.highlight .vi {
  color: #f9867b;
}

.highlight .il {
  color: #e3b700;
}

.highlight .gu {
  color: #75715e;
}

.highlight .gd {
  color: #f92672;
}

.highlight .gi {
  color: #a6e22e;
}

.message {
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  font-size: 1.4em;
  font-weight: bold;
  padding: 1.5em;
  transform: translate(-50%, -100%);
  transition: transform .25s;
}

#slow {
  background: #FF9800;
  color: white;
}

#not_downloaded {
  background: #FF9800;
  color: white;
}

#offline {
  background: #E91E63;
  color: white;
}

#online {
  background: #4CAF50;
  color: white;
}

body.slow #slow,
body.offline #offline,
body.online #online,
body.not_downloaded #not_downloaded {
  transform: translate(-50%, 0);
}


h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

.forsearch {
  margin-bottom: 15px;
}

.result {
  font-size: 1.3em;
}




.toolbar a {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #1c2334;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-weight: 700;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.toolbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(255, 255, 255);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.toolbar a:hover:after { 
  text-decoration: none;
  width: 100%; 
  left: 0; 
}

.toolbar a:hover{
  text-decoration: none;
}


// MODERN style 
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html { scroll-behavior: smooth; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #eaca72;
  color: #1c2334;
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: atkinson_hyperlegible,Arial,sans-serif;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d3557;
  --flow-space: 3.1rem;
  font-variant-ligatures: none;
  line-height: 1.2;
  max-width: 40ch;
  font-family: Boogaloo,Arial,sans-serif;
}


h3 {
  font-size: 3rem;
  line-height: 1.2;
  max-width: 40ch;
  color: #bb1450;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.2;
  max-width: 40ch;
}

h5 {
  font-size: 2em;
  line-height: 1.2;
  max-width: 40ch;
}

h6 {
  font-size: 1.6em;
  line-height: 1.2;
  max-width: 40ch;
}

b, strong {
  font-weight: 600;
}

.h4 .b {
  color: #bb1450;
}

.title-referensi {
  color: #bb1450;
}

a {
  color: #1d3557;
}

a:hover {
  color: rgb(78, 103, 134);
  text-decoration: none;
}


// SCROLLBAR
body::-webkit-scrollbar {
  width: 1em;
  background-color: #eaca72;
}

body::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #bb1450;
  height: 10px;
  width: 5px;
}

