:root {
  --color-button-text: rgb(247, 247, 247);
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253, 77, 77, 0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #cf4d4d;
  --color-accent-disabled: #f5bfbf;
  --color-accent-green: #a5ff82;
}

button {
  transition: all 0.5s ease;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.7;
}
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: var(--color-primary-900);
  text-rendering: optimizeLegibility;
}
button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #0089c7;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #23527c;
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--color-accent-glow);
}

[role="button"] {
  cursor: pointer;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%;
}
.h1,
h1 {
  font-size: 36px;
}
.h2,
h2 {
  font-size: 27px;
}
.h3,
h3 {
  font-size: 24px;
}
.h4,
h4 {
  font-size: 18px;
}
.h5,
h5 {
  font-size: 14px;
}
.h6,
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.small,
small {
  font-size: 85%;
}
.text__right {
  text-align: right;
}
.text__center {
  text-align: center;
}
.text__muted {
  color: rgb(22, 22, 22);
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

pre {
  font-size: 13px;
  line-height: 1.42857143;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col__sm__1,
.col__sm__10,
.col__sm__11,
.col__sm__12,
.col__sm__2,
.col__sm__3,
.col__sm__4,
.col__sm__5,
.col__sm__6,
.col__sm__7,
.col__sm__8,
.col__sm__9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .col__sm__1,
  .col__sm__10,
  .col__sm__11,
  .col__sm__12,
  .col__sm__2,
  .col__sm__3,
  .col__sm__4,
  .col__sm__5,
  .col__sm__6,
  .col__sm__7,
  .col__sm__8,
  .col__sm__9 {
    float: left;
  }
  .col__sm__12 {
    width: 100%;
  }
  .col__sm__11 {
    width: 91.66666667%;
  }
  .col__sm__10 {
    width: 83.33333333%;
  }
  .col__sm__9 {
    width: 75%;
  }
  .col__sm__8 {
    width: 66.66666667%;
  }
  .col__sm__7 {
    width: 58.33333333%;
  }
  .col__sm__6 {
    width: 50%;
  }
  .col__sm__5 {
    width: 41.66666667%;
  }
  .col__sm__4 {
    width: 33.33333333%;
  }
  .col__sm__3 {
    width: 25%;
  }
  .col__sm__2 {
    width: 16.66666667%;
  }
  .col__sm__1 {
    width: 8.33333333%;
  }
}
.row:after,
.row:before {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}

article {
  background-color: var(--color-primary-800);
  border-bottom: 3px dashed #ac1249;
  padding: 10px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: clamp(13px, calc(0.7rem + 0.25vw), 20px);
  color: var(--color-primary-100);
  margin-top: 6.2rem;
  border-radius: 0.5rem;
}

div#search-container {
  border-bottom: 3px dashed #ac1249;
  border-top-width: 0px;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: var(--color-primary-100);
}

.article__title {
  color: var(--color-primary-100);
  margin-top: 14px;
}

.article__meta {
  color: var(--color-primary-200);
  font-size: 0.9em;
}
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  text-transform: capitalize;
}

p {
  margin: 1rem 0;
  font-size: 1.2em;
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: yellow;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.page-content {
  max-width: 1600px;
  margin: 0px auto;
}
.h1,
h1 {
  font-size: 26px;
}

.post-list {
  text-transform: capitalize;
  font-size: 1.6em;
  color: var(--color-primary-100);
  font-weight: 600;
  margin-top: 10px;
}

.post__list:hover {
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: 0 10px 42px rgb(25 17 34 / 10%);
  background-color: var(--color-primary-700);
  box-shadow: 0 3px 10px rgb(25 17 34 / 5%);
  color: #f8f8f2;
}

pre.highlight {
  font-weight: 500;
}

h3.searched {
  font-size: 19px;
  color: #1d3557;
}

p.post__meta {
  text-align: center;
  font-size: 1.3em;
  margin-top: 30px;
}

.author__meta {
  text-align: center;
  font-size: 1em;
  margin-top: 30px;
}

img.head__icon {
  max-width: 100px;
  max-width: 100px;
  border-radius: 100%;
  margin-top: 1.5em;
}

/* BAGIAN .highlight */

.blacked {
  color: black;
}

.font__1em {
  font-size: 1em;
}

.head__mobile {
  display: none;
}

.toolbar {
  padding-top: 20px;
  padding-right: 22px;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  z-index: 10;
  background-color: var(--color-primary-900);
  padding-bottom: 25px;
  position: relative;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1610px;
}

input#search__input {
  margin-bottom: -5px;
  height: 40px;
  line-height: 40px;
  border-radius: 0.5em;
  border: 2px solid var(--color-accent);
  color: var(--color-button-text);
  padding: 10px;
  background-color: var(--color-primary-800);
  width: 100%;
  margin-top: 4.5em;
  font-size: 1.3em;
}

input#search__input:focus {
  outline: none;
  border-color: var(--color-accent-hover);
}

.sidebar__content {
  border-radius: 0.5rem;
  background: var(--color-primary-800);
  padding: 15px 0px;
  margin-top: 20px;
  padding: 10px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  right: 10px;
  float: right;
}

.sidebar h2 {
  margin-top: 0px;
  font-size: 1.6em;
}

.content {
  padding: 10px;
  margin-top: 3.9em;
}

@media all and (min-width: 548px) and (max-width: 800px) {
  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

input#search-box {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  height: 2.15384615em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  padding: 5px 2.15384615em 5px 0.4em;
  -webkit-box-shadow: inset 0 0 0 1px transparent;
  box-shadow: inset 0 0 0 1px transparent;
  font-size: 0.8125em;
  direction: ltr;
  -webkit-transition: border-color 250ms, box-shadow 250ms;
  -moz-transition: border-color 250ms, box-shadow 250ms;
  transition: border-color 250ms, box-shadow 250ms;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.searchLabel {
  font-size: 0px;
}

.searchButton {
  background: no-repeat center / 1.23076923em url(/assets/images/search.svg);
  opacity: 0.67;
  background-color: transparent;
  color: transparent;
  height: 2.15384615em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  padding: 4px 2.15384615em 5px 0.4em;
  -webkit-box-shadow: inset 0 0 0 1px transparent;
  box-shadow: inset 0 0 0 1px transparent;
  font-size: 0.8125em;
  direction: ltr;
  -webkit-transition: border-color 250ms, box-shadow 250ms;
  -moz-transition: border-color 250ms, box-shadow 250ms;
  transition: border-color 250ms, box-shadow 250ms;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

@media all and (max-width: 784px) {
  .add-button {
    bottom: 10px;
    right: 10px;
  }
}

.referensi {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.referensi a {
  color: var(--color-primary-200);
}

.referensi a:hover {
  color: var(--color-primary-100);
}
blockquote {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  border-left: 5px solid var(--color-accent);
  padding: 10px 20px;
  margin: 0 0 20px;
}

@media all and (max-width: 212px) {
  input#search-box {
    max-width: 100%;
  }
}

.title-head {
  color: #d43f3f;
  font-size: 1.2em;
}

.title-head:hover {
  color: var(--color-accent-hover);
}

p.description_me {
  font-size: 1.2em;
  color: var(--color-primary-100);
  font-weight: 700;
}

/* Highlight CSS - Rouge Highlighter */

pre code {
  font-family: monospace;
  font-weight: 500;
}

.highlighter-rouge {
  border-radius: 0px;
  overflow-x: auto;
  white-space: pre-wrap;
  color: #f3eee4;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  background: #1c2334;
  margin-bottom: 5px;
}

.highlight {
  margin: 1px;
  padding: 0px;
  white-space: pre-wrap;
  font-family: monospace;
}

.highlight .rouge-table td {
  padding: 12px;
}

.highlight,
pre.highlight {
  padding: 5px;
  border-radius: 0px;
  color: #f3eee4;
}

.highlight pre {
  margin: 0;
  background: #1c2334;
  color: #f3eee4;
  border-radius: 0.5rem;
  padding: 1.6rem 1rem 1.25rem;
  position: relative;
  overflow: hidden;
  border: 0px solid transparent;
}

.highlight .c {
  color: #d3d5e0;
  font-style: italic;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #a0ff08;
}

.highlight .l {
  color: #51ad4d;
}

.highlight .n {
  color: #f3eee4;
}

.highlight .o {
  color: #f3eee4;
}

.highlight .p {
  color: #f3eee4;
}

.highlight .cm {
  color: #d3d5e0;
  font-style: italic;
}

.highlight .cp {
  color: #d3d5e0;
  font-style: italic;
}

.highlight .c1 {
  color: #d3d5e0;
  font-style: italic;
}

.highlight .cs {
  color: #d3d5e0;
  font-style: italic;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: 700;
}

.highlight .kc {
  color: #a0ff08;
}

.highlight .kd {
  color: #a0ff08;
}

.highlight .kn {
  color: #a0ff08;
}

.highlight .kp {
  color: #a0ff08;
}

.highlight .kr {
  color: #a0ff08;
}

.highlight .kt {
  color: #a0ff08;
}

.highlight .ld {
  color: #51ad4d;
}

.highlight .m {
  color: #e3b700;
}

.highlight .s {
  color: #51ad4d;
}

.highlight .na {
  color: #e3b700;
}

.highlight .nb {
  color: #eb7404;
}

.highlight .nc {
  color: #eb7404;
}

.highlight .no {
  color: #eb7404;
}

.highlight .nd {
  color: #eb7404;
}

.highlight .ni {
  color: #eb7404;
}

.highlight .ne {
  color: #eb7404;
}

.highlight .nf {
  color: #ff00fc;
}

.highlight .nl {
  color: #eb7404;
}

.highlight .nn {
  color: #ff00fc;
}

.highlight .nx {
  color: #ff00fc;
}

.highlight .py {
  color: #eb7404;
}

.highlight .nt {
  color: #f9867b;
}

.highlight .nv {
  color: #eb7404;
}

.highlight .ow {
  font-weight: 700;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight .mf {
  color: #e3b700;
}

.highlight .mh {
  color: #e3b700;
}

.highlight .mi {
  color: #e3b700;
}

.highlight .mo {
  color: #e3b700;
}

.highlight .sb {
  color: #51ad4d;
}

.highlight .sc {
  color: #51ad4d;
}

.highlight .sd {
  color: #51ad4d;
}

.highlight .s2 {
  color: #51ad4d;
}

.highlight .se {
  color: #51ad4d;
}

.highlight .sh {
  color: #51ad4d;
}

.highlight .si {
  color: #51ad4d;
}

.highlight .sx {
  color: #51ad4d;
}

.highlight .sr {
  color: #7be2f9;
}

.highlight .s1 {
  color: #51ad4d;
}

.highlight .ss {
  color: #7be2f9;
}

.highlight .bp {
  color: #eb7404;
}

.highlight .vc {
  color: #eb7404;
}

.highlight .vg {
  color: #eb7404;
}

.highlight .vi {
  color: #f9867b;
}

.highlight .il {
  color: #e3b700;
}

.highlight .gu {
  color: #75715e;
}

.highlight .gd {
  color: #f92672;
}

.highlight .gi {
  color: #a6e22e;
}

.message {
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  font-size: 1.4em;
  font-weight: bold;
  padding: 1.5em;
  transform: translate(-50%, -100%);
  transition: transform 0.25s;
  z-index: 100;
}

#not__support {
  background: #8f5731;
  color: white;
}

#offline {
  background: #b1174a;
  color: white;
}

#online {
  background: #29662b;
  color: white;
}

body.not__support #not__support,
body.offline #offline,
body.online #online {
  transform: translate(-50%, 0);
}

.search__form {
  margin-bottom: 15px;
}

.result {
  font-size: 1.3em;
  color: var(--color-primary-100);
  border-radius: 0.5rem;
  background: var(--color-primary-800);
  padding: 15px 0px;
}

button {
  background-color: var(--color-primary-700);
  font-size: 0.9em;
  margin-top: 5px;
  text-transform: uppercase;
  color: var(--color-button-text);
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 0.5em;
  position: relative;
  border: none;
  font-weight: 700;
}

button:hover {
  text-decoration: none;
  color: var(--color-button-text);
  background-color: var(--color-primary-600);
  box-shadow: 0 3px 10px rgb(25 17 34 / 5%);
}

button:focus {
  outline: none;
}

.bold {
  font-weight: 600;
}

/* MODERN style */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--color-primary-200);
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary-100);
  --flow-space: 3.1rem;
  font-variant-ligatures: none;
  line-height: 1.2;
  max-width: 40ch;
  font-weight: 600;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.2;
  max-width: 40ch;
  color: var(--color-primary-100);
}

h2 {
  font-size: 2.1rem;
  line-height: 1.2;
  max-width: 40ch;
  color: var(--color-primary-100);
}

h3 {
  font-size: 1.8rem;
  line-height: 1.2;
  max-width: 40ch;
  color: var(--color-primary-100);
}

h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  max-width: 40ch;
}

h5 {
  font-size: 1.4em;
  line-height: 1.2;
  max-width: 40ch;
}

h6 {
  font-size: 1.2em;
  line-height: 1.2;
  max-width: 40ch;
}

b,
strong {
  font-weight: 600;
}

.h4 .b {
  color: var(--color-primary-100);
}

h3.title-referensi {
  color: var(--color-primary-100);
  font-size: 1.6em;
}

a {
  color: #1d3557;
}

a:hover {
  color: rgb(78, 103, 134);
  text-decoration: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0em;
  height: 0em;
  display: none;
}
::-webkit-scrollbar-track-piece {
  background: var(--color-primary-900);
  display: none;
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.post__list {
  border-radius: 0.5rem;
  background: var(--color-primary-800);
  padding: 15px 0px;
  margin-top: 10px;
  margin-left: -9.8px;
  margin-right: -9.8px;
  transition: all 0.25s ease-in;
}

.post__list h3 {
  color: var(--color-primary-100);
}

.post__list:hover h3 {
  color: #f8f8f2;
}

.post__date {
  color: var(--color-primary-200);
  margin-top: 6px;
}

.featured {
  color: var(--color-primary-200);
  font-size: 1.2em;
  font-weight: 600;
  fill: var(--color-accent);
  margin-top: 1.2em;
}

.arsip__button {
  color: var(--color-primary-100);
  font-size: 1.2em;
  font-weight: 600;
  background: var(--color-primary-700);
  border: 2px solid var(--color-accent);
  border-radius: 0.5em;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 20px;
}

.arsip__button:hover {
  text-decoration: none;
  background-color: var(--color-accent-hover);
  color: var(--color-button-text);
}
.ads__head {
  color: var(--color-button-text);
  border-radius: 0.5em;
  padding: 30px;
  text-align: center;
  height: 60%;
  display: none;
}

div#results__container {
  font-size: 1.3em;
  color: var(--color-primary-100);
}

.border__accent {
  border: 1px solid var(--color-accent);
}

.border__accent__2 {
  border: 2px solid var(--color-accent);
}

.btn__bg__accent {
  background-color: var(--color-accent);
  cursor: pointer;
}

.btn__bg__accent:hover {
  background-color: var(--color-accent-hover);
}

.btn__fit {
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cursor__pointer {
  cursor: pointer;
}

.sidebar__content img {
  width: 8em;
  border-radius: 100%;
  margin-right: auto;
  margin-top: 2px;
  margin-left: auto;
  box-shadow: 0 0 1.5rem rgb(17 17 17 / 70%);
}

.sidebar__one .name {
  font-size: 1.6em;
  color: var(--color-accent);
  text-align: center;
  margin-top: 0.8em;
}

.border__accent__text {
  color: var(--color-accent);
}

.button__bar {
  width: 100%;
  text-align: center;
}

.button__bar:hover {
  text-decoration: none;
  color: var(--color-button-text);
  background-color: var(--color-accent-hover);
}

button.small {
  font-size: 0.8em;
}

.sidebar__post {
  font-size: 0.8em;
  color: var(--color-primary-100);
}

.sidebar__post .post-list {
  font-weight: 500;
}

.sidebar__post:hover a {
  color: #f8f8f2;
}

a.result__list {
  font-size: 1.1em;
  text-transform: capitalize;
  color: var(--color-primary-100);
  font-weight: 600;
}

a.result__list:hover {
  color: var(--color-primary-300);
}

.results__container {
  padding: 10px;
}

.project__list {
  background-color: var(--color-primary-700);
  margin: 10px;
  border-radius: 0.5em;
  padding: 19px;
  font-size: 1.3em;
}

.project__list a {
  color: var(--color-primary-200);
}

.project__list a:hover h1 {
  color: var(--color-primary-300);
}

.project__list h1 {
  padding-top: 1px;
  margin-top: 4px;
  font-size: 1.3em;
}

.project__toke {
  border-radius: 0.5em;
}

.project {
  border-radius: 0.5rem;
  padding: 15px 0px;
  margin-top: 3em;
}

a.button__todos {
  background-color: var(--color-primary-600);
  font-size: 0.9em;
  margin-top: 6px;
  text-transform: uppercase;
  color: var(--color-button-text);
  text-decoration: none;
  letter-spacing: 0.15em;
  font-weight: 700;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0.5em;
  position: relative;
  width: 100%;
  text-align: center;
}

a.button__todos:hover {
  text-decoration: none;
  color: var(--color-button-text);
  background-color: var(--color-accent-hover);
}

.about {
  background-color: var(--color-primary-800);
  border-bottom: 3px dashed #ac1249;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: var(--color-primary-100);
  margin-top: 4.6em;
  border-radius: 0.5rem;
}

.button__standard {
  background-color: var(--color-primary-700);
  font-size: 0.9em;
  margin-top: 5px;
  text-transform: uppercase;
  color: var(--color-button-text);
  text-decoration: none;
  letter-spacing: 0.15em;
  font-weight: 700;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.5em;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.button__standard:hover {
  text-decoration: none;
  color: var(--color-button-text);
  background-color: var(--color-accent);
}

.bg__600 {
  background-color: var(--color-primary-600);
}

.center__screen {
  width: 100%;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.homes__content {
  align-self: center;
}

.homes__content img {
  border-radius: 0.5em;
  max-width: 200px;
}

.fade__in {
  animation: fadeIn ease 1.5s forwards;
  -webkit-animation: fadeIn ease 1.5s forwards;
  -moz-animation: fadeIn ease 1.5s forwards;
  -o-animation: fadeIn ease 1.5s forwards;
  -ms-animation: fadeIn ease 1.5s forwards;
  animation-delay: 0s;
  -webkit-backface-visibility: hidden;
}

.fixed__bottom {
  width: 600px;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
}

.fixed__bottom__projek {
  width: 600px;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
}

@media screen and (max-width: 773px) {
  .fixed__bottom__projek {
    position: inherit;
    margin-left: 0px;
    left: 0;
    width: auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

blockquote p {
  font-size: 1em;
}

.sosmed {
  padding: 2px;
  fill: #ffffff;
  transition: all 0.2s ease-in;
}

.sosmed:hover {
  transform: scale(1.2);
  fill: var(--color-accent);
  box-shadow: 0 3px 10px rgb(25 17 34 / 5%);
}

.application {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
  background-color: var(--color-primary-800);
  max-width: 250px;
  border-radius: 0.5rem;
}

.application__content {
  padding-bottom: 20px;
}

.application h1 {
  font-size: 2rem;
  text-align: left;
}

​.turbolinks-progress-bar {
  height: 5px;
  background-color: var(--color-accent);
  z-index: 100;
}

.centered {
  align-items: center;
  text-align: center;
}

@media all and (max-width: 771px) {
  .main__head {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
  .main__head__nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
  .project {
    margin-top: 1em;
  }
  .head__icon {
    align-items: center;
    left: auto;
    right: auto;
    display: inline-flex;
  }
  .featured {
    margin-top: 0px;
  }
  .head__mobile {
    display: block;
  }
  .sidebar__one {
    display: none;
  }
  .sidebar {
    float: none;
  }
  .toolbar {
    position: static;
    padding-bottom: 0px;
    padding-right: 0px;
  }
  .sidebar {
    position: static;
  }
  .content {
    margin-top: 0px;
  }
  article {
    margin-top: 20px;
  }
  input#search__input {
    margin-top: 20px;
  }
}

.Previous-next {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 50px;
}

.previous,
.next {
  box-sizing: border-box;
}
@media all and (max-width: 838px) {
  .Previous-next {
    align-items: center;
  }
  .next {
    float: center;
  }
}

.next {
  float: right;
}

.avatar {
  position: relative;
  width: 8em;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: var(--color-accent-green);
  position: absolute;
  border-radius: 100%;
  margin: 0px 10px;
  right: 5px;
  bottom: 0px;
  border: 2px solid var(--color-primary-800);
}

.downloader {
  display: grid;
  place-items: center;
  height: 90vh;
  font-size: 2rem;
}
