---
layout: default
---

<div class="center__screen__80">
  <div class="homes__content fade__in">
    <center>
      <div class="row mb__2" data-turbolinks-permanent>
        <div class="col__sm__12">
          <img
            src="/assets/images/my.webp"
            alt="Rahmat Agung Julians"
            loading="lazy"
            width="auto"
            height="auto"
          />
          <h1 class="red">Rahmat Agung Julians</h1>
          <span>Technology Enthusiast | Philosophy | Logic</span>
          <br />
          <div class="homeActions">
            <a href="/blog" alt="blog">
              <button class="button__standard border__accent__2">Blog</button>
            </a>
            <a href="https://app.rahmatagungjulians.tech" alt="aplikasi">
              <button class="button__standard border__accent__2">
                Aplikasi
              </button>
            </a>
            <a href="/projek" alt="projek">
              <button class="button__standard border__accent__2">Projek</button>
            </a>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
