---
layout: default
---

<div class="center__screen">
  <div class="homes__content fade__in">
    <center>
      <div class="row mb-2" data-turbolinks-permanent>
        <div class="col-sm-12">
          <img src="/assets/images/my.webp" alt="Rahmat Agung Julians" />
          <h1>Rahmat Agung Julians</h1>
          <span>Technology Enthusiast | Philosophy | Logic</span><br />
          <div class="homes__button">
            <a href="/blog" class="button__standard accent__2">Blog</a>
            <a href="/projek" class="button__standard accent__2">Projek</a>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
